doctype html
html(ng-app="RestaurantApp")
    head(ng-controller="HeadCtrl")
        title {{title}}
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href="/libs/css/libs.css")
        script(src="/libs/js/libs.js")
        script(src="/libs/js/socket.io.js")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
        base(href="/")
        //script(src="/libs/js/angular-animate.min.js")
        //script(src="/libs/js/angular-aria.min.js")
        //script(src="/libs/js/angular-messages.min.js")
        //script(src="/libs/js/angular-material.min.js")
    body
        block content

    script(src="/RestaurantApp.js")
    script(src="/ApiFactories.js")
    script(src="controller/RestaurantEnter/RestaurantEnterCtrl.js")
    script(src="controller/MainPage/MainPage.js")
    script(src="controller/DialogWithWaiter/DialogWithWaiter.js")
    script(src="controller/KitchenPage/KitchenPageCtrl.js")
    script.
        var socket = io.connect('http://#{address}:#{port}');
        socket.on('ip', function (msg) {
            //msg.split(':').length == 3 ? alert('localhost') : alert(msg.split(':')[4]);
        });