md-content.md-padding(ng-hide="successGetOrders")
    md-truncate(layout="row")
        md-content(flex="50")
            md-toolbar.md-hue-2
                h2.md-toolbar-tools Заказы
            .md-padding
                md-expansion-panel-group
                    md-expansion-panel(ng-repeat="order in orders | orderBy:'$index':true ")
                        md-expansion-panel-collapsed
                            .md-title Заказ №{{orders.length - $index}}
                            .md-summary Сумма {{order.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}
                            md-expansion-panel-icon
                        md-expansion-panel-expanded
                            md-expansion-panel-header(ng-click="$panel.collapse()")
                                .md-title Заказ №{{orders.length - $index}}
                                .md-summary
                                md-expansion-panel-icon
                            md-expansion-panel-content
                                h4 Список блюд
                                md-list
                                    md-list-item(ng-repeat="product in order.products | orderBy:'-price'" )
                                        img.md-avatar(ng-src="{{product.image}}")
                                        .md-list-item-text(layout="row", layout-wrap="wrap")
                                            span.overflow-text(flex="100") {{product.title}}
                                            span(flex="70") Время приготовления - {{timeCook(product.price * 2)}}
                                            span(flex="30") Цена - {{product.price.toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })}}
                                        md-button.md-warn.md-raised.md-secondary(ng-click="onPlate(order, product)", ng-disabled="isOnPlate(order, product)", ng-hide="isReady(product)") На плиту
                                        md-divider
                                md-button.md-warn.md-raised.md-secondary(ng-show="isReadyAll(order)", ng-click="sendToCustomer(order)") Отправить заказ
                            //md-expansion-panel-footer
                            //    md-button.md-warn(ng-click="$panel.collapse()") Collapse
        md-content(flex="50")
            md-toolbar.md-hue-2(flex="100")
                h2.md-toolbar-tools Кухня
            div(layout="row", layout-wrap="wrap")
                .md-padding(flex="50")
                    md-progress-circular(md-diameter="213",md-mode="determinate", value="{{plate.first.value}}")
                    md-button.md-fab.btn-large.primary.md-warn 1 Плита
                .md-padding(flex="50")
                    md-progress-circular(md-diameter="213",md-mode="determinate", value="{{plate.second.value}}")
                    md-button.md-fab.btn-large.primary.md-warn 2 Плита

style.
    .overflow-text{overflow: hidden; text-overflow: ellipsis; width: 300px; display: block}
    .md-button.md-fab.btn-large {width: 200px !important;height: 200px !important;}
    md-progress-circular, md-progress-circular svg {position: absolute}

